<mat-card>

  <mat-card-header>
    <mat-card-title>{{ heros.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heros.alterEgo }}</mat-card-subtitle>
  </mat-card-header>


  <img mat-card-image [src]="heros | heroImage" [alt]="heros.superhero">


  <mat-card-content class="mt-2">

    <h4>{{ heros.publisher }}</h4>
    <p>
      <strong>Primera aparición</strong> {{ heros.firstAppearance }}
      <br>
      <mat-chip-listbox>
        <mat-chip class="mt-2 mb-2" *ngFor="let name of heros.characters.split(',') | slice:0:3">
          {{ name }}
        </mat-chip>
      </mat-chip-listbox>

    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
            mat-raised
            [routerLink]="['/heroes/edit', heros.id]">

      <mat-icon>edit</mat-icon>
      Editar

    </button>

    <span class="spacer"></span>

    <button mat-button
            mat-raised
            style="color:#0077F2;"
            [routerLink]="['/heroes', heros.id]">

      <mat-icon>more_horizontal</mat-icon>
      Más

    </button>

  </mat-card-actions>
</mat-card>
